body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#dummy-video-canvas {
  display: none;
}

.video-portal-styles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 60%;
  height: calc(100vh - 10%);
  margin-left: 20%;
}

@media screen and (max-width: 768px) {
  .video-portal-styles {
    height: calc(100vh - 12.5%);
    width: 100%;
  }
}